<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Database Info</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<h2>Registered Cafes</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Cafe Owner's Twitter ID</th>
        <th scope="col">Cafe Name</th>
        <th scope="col">Cafe Address</th>
        <th scope="col">Cafe Wins</th>
        <th scope="col">Cafe Rank</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cafe: ${cafes}">
        <th scope="row" th:text="${cafe.getId().getCafeOwnerTwitterId()}"></th>
        <td th:text="${cafe.getId().getCafeName()}"></td>
        <td th:text="${cafe.getCafeAddress().getStreet()}"></td>
        <td th:text="${cafe.getCafeOfTheWeekWins()}"></td>
        <td th:text="${cafe.getCafeOfAllTimeRank()}"></td>
    </tr>
    </tbody>
</table>
<h2>Registered Promos</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Cafe Owner's Twitter ID</th>
        <th scope="col">Cafe Name</th>
        <th scope="col">Promo Code</th>
        <th scope="col">Starts</th>
        <th scope="col">Ends</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="promo: ${promos}">
        <th scope="row" th:text="${promo.getCafeId().getCafeOwnerTwitterId()}"></th>
        <td th:text="${promo.getCafeId().getCafeName()}"></td>
        <td th:text="${promo.getPromoCode()}"></td>
        <td th:text="${promo.getStartOfPromo().toString()}"></td>
        <td th:text="${promo.getEndOfPromo().toString()}"></td>
        <td th:text="${promo.getPromoDescription()}"></td>
    </tr>
    </tbody>
</table>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>